In [148]:
import sys

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Covid

In [149]:
df = pd.read_csv('../data/covid_data.csv' , sep = ';', on_bad_lines='skip').sample(frac=1)

C:\Users\cassi\AppData\Local\Temp\ipykernel_6960\1351223911.py:1: DtypeWarning:

Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.

In [150]:
df.head()

,data_publicacao,recuperados,data_inicio_sintomas,data_coleta,sintomas,comorbidades,gestante,internacao,internacao_uti,sexo,...,origem_laboratorio_privado,nom_laboratorio,fez_teste_rapido,fez_pcr,data_internacao,data_entrada_uti,regional_saude,data_evolucao_caso,data_saida_uti,bairro
250719,2022-03-28 16:00:08,SIM,2022-02-22,IGNORADO,FEBRE,NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,MASCULINO,...,NAO,NaN,NAO,NAO,NaN,NaN,MEDIO VALE DO ITAJAI,NaN,NaN,VELHA CENTRAL
289946,2022-03-28 16:00:08,SIM,2020-11-06,2020-11-11,"TOSSE, CANSACO, DOR NO CORPO",NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,FEMININO,...,NAO,LACEN,NAO,SIM,NaN,NaN,OESTE,NaN,NaN,NaN
878035,2022-03-28 16:00:08,SIM,2020-07-23,2020-07-23,TOSSE,NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,MASCULINO,...,SIM,LABORATORIO MEDICO SANTA LUZIA MATRIZ,NAO,SIM,NaN,NaN,GRANDE FLORIANOPOLIS,NaN,NaN,FORQUILHAS
1570516,2022-03-28 16:00:08,SIM,2021-01-08,2021-01-08,NaN,NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,FEMININO,...,NAO,NaN,SIM,NAO,NaN,NaN,ALTO VALE DO RIO DO PEIXE,NaN,NaN,NaN
12475,2022-03-28 16:00:08,SIM,2020-07-12,2020-07-21,"TOSSE, DOR NO CORPO",NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,FEMININO,...,NAO,NaN,SIM,NAO,NaN,NaN,CARBONIFERA,NaN,NaN,NaN

In [151]:
df.shape

(1671328, 41)

In [ ]:
#verify rows duplicated
df.duplicated().sum()

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1671328 entries, 250719 to 376143
Data columns (total 41 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   data_publicacao                    1671328 non-null  object
 1   recuperados                        1671327 non-null  object
 2   data_inicio_sintomas               1671327 non-null  object
 3   data_coleta                        1671327 non-null  object
 4   sintomas                           1242957 non-null  object
 5   comorbidades                       42392 non-null    object
 6   gestante                           1029 non-null     object
 7   internacao                         1671327 non-null  object
 8   internacao_uti                     1671327 non-null  object
 9   sexo                               1671327 non-null  object
 10  municipio                          1671327 non-null  object
 11  obito                              1671327 non-null  object
 12  data_obito                         21650 non-null    object
 13  idade                              1671068 non-null  float64
 14  regional                           1671326 non-null  object
 15  raca                               1671327 non-null  object
 16  data_resultado                     1671327 non-null  object
 17  codigo_ibge_municipio              1671326 non-null  float64
 18  latitude                           1671326 non-null  float64
 19  longitude                          1671326 non-null  float64
 20  estado                             1671326 non-null  object
 21  criterio_confirmacao               1671327 non-null  object
 22  tipo_teste                         1671327 non-null  object
 23  municipio_notificacao              1671245 non-null  object
 24  codigo_ibge_municipio_notificacao  1671294 non-null  float64
 25  latitude_notificacao               1671294 non-null  float64
 26  longitude_notificacao              1671294 non-null  float64
 27  classificacao                      1671327 non-null  object
 28  origem_esus                        1671327 non-null  object
 29  origem_sivep                       1671327 non-null  object
 30  origem_lacen                       1671327 non-null  object
 31  origem_laboratorio_privado         1671327 non-null  object
 32  nom_laboratorio                    700274 non-null   object
 33  fez_teste_rapido                   1671327 non-null  object
 34  fez_pcr                            1671327 non-null  object
 35  data_internacao                    76391 non-null    object
 36  data_entrada_uti                   20924 non-null    object
 37  regional_saude                     1671326 non-null  object
 38  data_evolucao_caso                 72168 non-null    object
 39  data_saida_uti                     13958 non-null    object
 40  bairro                             814313 non-null   object
dtypes: float64(7), object(34)
memory usage: 535.6+ MB

In [153]:
df.describe()

,idade,codigo_ibge_municipio,latitude,longitude,codigo_ibge_municipio_notificacao,latitude_notificacao,longitude_notificacao
count,1.671068e+06,1.671326e+06,1.671326e+06,1.671326e+06,1.671294e+06,1.671294e+06,1.671294e+06
mean,3.863877e+01,4.208672e+06,-2.723870e+01,-4.971010e+01,4.208672e+06,-2.723870e+01,-4.971010e+01
std,1.737843e+01,5.209406e+03,7.472559e-01,1.378420e+00,5.209399e+03,7.472501e-01,1.378426e+00
min,0.000000e+00,4.200051e+06,-2.926750e+01,-5.371132e+01,4.200051e+06,-2.926750e+01,-5.371132e+01
25%,2.600000e+01,4.204301e+06,-2.757881e+01,-5.001392e+01,4.204301e+06,-2.757881e+01,-5.001392e+01
50%,3.700000e+01,4.208302e+06,-2.710866e+01,-4.909703e+01,4.208302e+06,-2.710866e+01,-4.909703e+01
75%,5.000000e+01,4.211900e+06,-2.676255e+01,-4.880668e+01,4.211900e+06,-2.676255e+01,-4.880668e+01
max,1.200000e+02,4.220000e+06,-2.605694e+01,-4.850903e+01,4.220000e+06,-2.605694e+01,-4.850903e+01

In [154]:
pd.DataFrame({
    'column': df.columns,
    'dtype': df.dtypes,
    'nulls': df.isnull().sum(),
    'null_pct': df.isnull().sum() / df.shape[0]
}).sort_values('null_pct', ascending=False)

,column,dtype,nulls,null_pct
gestante,gestante,object,1670299,9.993843e-01
data_saida_uti,data_saida_uti,object,1657370,9.916486e-01
data_entrada_uti,data_entrada_uti,object,1650404,9.874806e-01
data_obito,data_obito,object,1649678,9.870462e-01
comorbidades,comorbidades,object,1628936,9.746357e-01
data_evolucao_caso,data_evolucao_caso,object,1599160,9.568200e-01
data_internacao,data_internacao,object,1594937,9.542932e-01
nom_laboratorio,nom_laboratorio,object,971054,5.810074e-01
bairro,bairro,object,857015,5.127749e-01
sintomas,sintomas,object,428371,2.563058e-01
idade,idade,float64,260,1.555649e-04
municipio_notificacao,municipio_notificacao,object,83,4.966111e-05
longitude_notificacao,longitude_notificacao,float64,34,2.034310e-05
latitude_notificacao,latitude_notificacao,float64,34,2.034310e-05
codigo_ibge_municipio_notificacao,codigo_ibge_municipio_notificacao,float64,34,2.034310e-05
latitude,latitude,float64,2,1.196653e-06
regional_saude,regional_saude,object,2,1.196653e-06
longitude,longitude,float64,2,1.196653e-06
estado,estado,object,2,1.196653e-06
codigo_ibge_municipio,codigo_ibge_municipio,float64,2,1.196653e-06
regional,regional,object,2,1.196653e-06
origem_laboratorio_privado,origem_laboratorio_privado,object,1,5.983266e-07
data_inicio_sintomas,data_inicio_sintomas,object,1,5.983266e-07
data_coleta,data_coleta,object,1,5.983266e-07
internacao,internacao,object,1,5.983266e-07
internacao_uti,internacao_uti,object,1,5.983266e-07
sexo,sexo,object,1,5.983266e-07
fez_pcr,fez_pcr,object,1,5.983266e-07
fez_teste_rapido,fez_teste_rapido,object,1,5.983266e-07
municipio,municipio,object,1,5.983266e-07
origem_lacen,origem_lacen,object,1,5.983266e-07
recuperados,recuperados,object,1,5.983266e-07
origem_sivep,origem_sivep,object,1,5.983266e-07
origem_esus,origem_esus,object,1,5.983266e-07
classificacao,classificacao,object,1,5.983266e-07
obito,obito,object,1,5.983266e-07
raca,raca,object,1,5.983266e-07
data_resultado,data_resultado,object,1,5.983266e-07
tipo_teste,tipo_teste,object,1,5.983266e-07
criterio_confirmacao,criterio_confirmacao,object,1,5.983266e-07
data_publicacao,data_publicacao,object,0,0.000000e+00

In [155]:
df.dropna(subset= ['codigo_ibge_municipio'], inplace=True)

In [156]:
df['codigo_ibge_municipio'] = df.codigo_ibge_municipio.apply(int).apply(str)

# Data IDH

In [157]:
df_idh = pd.read_csv('../data/atlas.csv')

In [158]:
df_idh.head()

,ano,codmun6,uf,codmun7,municÃ­pio,espvida,fectot,mort1,mort5,razdep,...,pia1517,pia18m,pop,popt,i_escolaridade,i_freq_prop,idhm,idhm_e,idhm_l,idhm_r
0,1991,110001,11,1100015,ALTA FLORESTA D'OESTE,62.01,4.08,45.58,58.05,73.50,...,NaN,NaN,23417,22835,0.117,0.109,0.329,0.112,0.617,0.516
1,1991,110002,11,1100023,ARIQUEMES,66.02,3.72,32.39,41.41,69.97,...,NaN,NaN,56061,55018,0.200,0.199,0.432,0.199,0.684,0.593
2,1991,110003,11,1100031,CABIXI,63.16,3.89,41.52,52.94,77.23,...,NaN,NaN,7601,5846,0.111,0.106,0.309,0.108,0.636,0.430
3,1991,110004,11,1100049,CACOAL,65.03,3.81,35.37,45.19,71.11,...,NaN,NaN,69173,66534,0.176,0.169,0.407,0.171,0.667,0.593
4,1991,110005,11,1100056,CEREJEIRAS,62.73,3.55,43.00,54.82,71.09,...,NaN,NaN,19451,19030,0.152,0.175,0.386,0.167,0.629,0.547

In [159]:
df_idh = df_idh[df_idh.ano==2010].reset_index(drop=True)

In [160]:
df_idh.shape

(5565, 237)

In [161]:
df_idh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5565 entries, 0 to 5564
Columns: 237 entries, ano to idhm_r
dtypes: float64(167), int64(69), object(1)
memory usage: 10.1+ MB

In [162]:
df_idh.describe()

,ano,codmun6,uf,codmun7,espvida,fectot,mort1,mort5,razdep,sobre40,...,pia1517,pia18m,pop,popt,i_escolaridade,i_freq_prop,idhm,idhm_e,idhm_l,idhm_r
count,5565.0,5565.000000,5565.000000,5.565000e+03,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000,...,5565.000000,5.565000e+03,5.565000e+03,5.565000e+03,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000
mean,2010.0,325304.894160,32.372327,3.253053e+06,73.088996,2.190086,19.246983,21.533290,51.485718,93.780764,...,1860.530997,2.416178e+04,3.404624e+04,3.374994e+04,0.396692,0.668344,0.659157,0.559094,0.801564,0.642873
std,0.0,98452.148072,9.829957,9.845215e+05,2.680715,0.503041,7.136643,7.321787,8.949110,1.255955,...,9444.241027,1.512691e+05,2.015770e+05,2.014323e+05,0.105885,0.096125,0.071997,0.093328,0.044681,0.080662
min,2010.0,110001.000000,11.000000,1.100015e+06,65.300000,1.210000,8.490000,9.980000,29.170000,88.830000,...,42.000000,5.970000e+02,8.050000e+02,8.050000e+02,0.120000,0.268000,0.418000,0.207000,0.672000,0.400000
25%,2010.0,251210.000000,25.000000,2.512101e+06,71.150000,1.850000,13.800000,16.040000,44.880000,92.950000,...,305.000000,3.613000e+03,5.202000e+03,5.132000e+03,0.315000,0.603000,0.599000,0.490000,0.769000,0.572000
50%,2010.0,314620.000000,31.000000,3.146206e+06,73.470000,2.130000,16.900000,19.420000,49.590000,93.890000,...,649.000000,7.462000e+03,1.087100e+04,1.070400e+04,0.384000,0.670000,0.665000,0.560000,0.808000,0.654000
75%,2010.0,411900.000000,41.000000,4.119004e+06,75.160000,2.460000,23.800000,25.820000,56.870000,94.680000,...,1384.000000,1.570500e+04,2.325500e+04,2.274600e+04,0.464000,0.741000,0.718000,0.631000,0.836000,0.707000
max,2010.0,530010.000000,53.000000,5.300108e+06,78.640000,4.890000,46.800000,50.940000,118.040000,97.090000,...,506046.000000,8.410471e+06,1.117261e+07,1.116654e+07,0.800000,0.962000,0.862000,0.825000,0.894000,0.891000

In [163]:
pd.DataFrame({
    'column': df_idh.columns,
    'dtype': df_idh.dtypes,
    'nulls': df_idh.isnull().sum(),
    'null_pct': df_idh.isnull().sum() / df_idh.shape[0]
}).sort_values('null_pct', ascending=False)

                            column    dtype  nulls  null_pct
ano                            ano    int64      0       0.0
homem30a34              homem30a34    int64      0       0.0
t_m10a14cf              t_m10a14cf  float64      0       0.0
t_m15a17cf              t_m15a17cf  float64      0       0.0
t_mulchefefif014  t_mulchefefif014  float64      0       0.0
...                            ...      ...    ...       ...
pren20                      pren20  float64      0       0.0
pren20ricos            pren20ricos  float64      0       0.0
pren40                      pren40  float64      0       0.0
pren60                      pren60  float64      0       0.0
idhm_r                      idhm_r  float64      0       0.0

[237 rows x 4 columns]

In [164]:
df_idh['codmun7'] = df_idh.codmun7.apply(int).apply(str)

# Merge Data

In [165]:
#rename column codigo_ibge_municipio to cod_ibge
df.rename(columns={'codigo_ibge_municipio':'cod_ibge'}, inplace=True)
df_idh.rename(columns={'codmun7':'cod_ibge'}, inplace=True)

In [166]:
df['cod_ibge'] = df.cod_ibge.astype(np.int64)

In [167]:
df_idh['cod_ibge'] = df_idh.cod_ibge.astype(np.int64)

In [168]:
df.dtypes

data_publicacao                       object
recuperados                           object
data_inicio_sintomas                  object
data_coleta                           object
sintomas                              object
comorbidades                          object
gestante                              object
internacao                            object
internacao_uti                        object
sexo                                  object
municipio                             object
obito                                 object
data_obito                            object
idade                                float64
regional                              object
raca                                  object
data_resultado                        object
cod_ibge                               int64
latitude                             float64
longitude                            float64
estado                                object
criterio_confirmacao                  object
tipo_teste                            object
municipio_notificacao                 object
codigo_ibge_municipio_notificacao    float64
latitude_notificacao                 float64
longitude_notificacao                float64
classificacao                         object
origem_esus                           object
origem_sivep                          object
origem_lacen                          object
origem_laboratorio_privado            object
nom_laboratorio                       object
fez_teste_rapido                      object
fez_pcr                               object
data_internacao                       object
data_entrada_uti                      object
regional_saude                        object
data_evolucao_caso                    object
data_saida_uti                        object
bairro                                object
dtype: object

In [169]:
df_idh.dtypes

ano              int64
codmun6          int64
uf               int64
cod_ibge         int64
municÃ­pio       object
                ...
i_freq_prop    float64
idhm           float64
idhm_e         float64
idhm_l         float64
idhm_r         float64
Length: 237, dtype: object

In [170]:
df_merge = pd.merge(df, df_idh, on='cod_ibge')

In [171]:
del df
del df_idh

In [172]:
df_merge.shape

(1666760, 277)

In [173]:
df_merge.head()

,data_publicacao,recuperados,data_inicio_sintomas,data_coleta,sintomas,comorbidades,gestante,internacao,internacao_uti,sexo,...,pia1517,pia18m,pop,popt,i_escolaridade,i_freq_prop,idhm,idhm_e,idhm_l,idhm_r
0,2022-03-28 16:00:08,SIM,2022-02-22,IGNORADO,FEBRE,NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,MASCULINO,...,14840.0,232830.0,306393,306361,0.659,0.756,0.806,0.722,0.894,0.812
1,2022-03-28 16:00:08,SIM,2020-11-09,2020-11-13,TOSSE,NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,FEMININO,...,14840.0,232830.0,306393,306361,0.659,0.756,0.806,0.722,0.894,0.812
2,2022-03-28 16:00:08,SIM,2021-01-18,2021-01-27,NaN,NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,FEMININO,...,14840.0,232830.0,306393,306361,0.659,0.756,0.806,0.722,0.894,0.812
3,2022-03-28 16:00:08,SIM,2022-01-06,2022-01-11,"TOSSE, FEBRE",NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,FEMININO,...,14840.0,232830.0,306393,306361,0.659,0.756,0.806,0.722,0.894,0.812
4,2022-03-28 16:00:08,SIM,2020-07-07,2020-07-08,"TOSSE, DOR DE GARGANTA, FEBRE",NaN,NaN,NAO INTERNADO,NAO INTERNADO UTI,FEMININO,...,14840.0,232830.0,306393,306361,0.659,0.756,0.806,0.722,0.894,0.812

In [174]:
df_merge.to_csv('../output/01_covid_idh.csv', index=False)